.formContainer{
    padding: 15px;
}

.title{
    color: #ffbc00;
    margin-top: 20px;
    font-size: 20px;
}

.backButton{
    width: 100%;
    margin: 5px 0px;
    float: left;
}

.tittles{
    font-size: 20px;
    color: #ffbc00;
}

.label{
    margin-right: 10px;
}

.label2{
    margin: 0px 15px;
    font-size: 15px;
}

.select{
    color: black;
}

.slider{
    color: #ffbc00;
}